streamlit==1.46.1

numpy==2.2.6
pandas==2.2.3
scipy==1.15.3

plotly==6.2.0

yfinance==0.2.65
requests==2.32.4
beautifulsoup4==4.13.4

gitpython==3.1.45

psycopg2-binary==2.9.10

python-dateutil==2.9.0.post0
pytz==2025.2
